.dashboard{
    background-color: var(--green-color);
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}
.dashboard h2{
    /* padding: 10px; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FBFBFB;
}
.dashboard>.right, .dashboard a{
    color: #FBFBFB;
}
.dashboard ul{
    list-style: none;
    display: flex;
}
.dashboard li{
    padding: 20px;
}
.dashboard a{
    text-decoration: none;
    font-size: 24px;
}
