:root{
  --green-color : #00633B;
  --bg-color2: #AAECA0;
  --green-color2: #6FC3A1;
  --white-color : #FBFBFB;
  --white-color2 : #fff;

}

html,
body {
  color: var(--green-color);
  padding: 0;
  margin: 0;
  font-family:'Poppins';
  font-style: normal;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}

