.navLogin{
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 832px;
}
.navLogin h2{
    font-weight: bold;
    font-size: 30px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: var(--green-color);
}
.navLogin>.right{
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    line-height: 18px;
}
.navLogin ul{
    list-style-type: none;
    display: flex;
}
.navLogin li{
    margin: 20px;
}
.navLogin .active{
    color: var(--green-color);
    border-bottom: 2px solid var(--green-color);
    padding: 10px;
    border-radius: 10px;
    color: var(--white-color);
    background: var(--green-color);
}
.navLogin a{
    text-decoration: none;
    font-weight: 700;
    color: var(--green-color2);
}
.navLogin .active{
    padding: 10px;
    border-radius: 10px;
    color: var(--white-color);
    background: var(--green-color);
}

@media(max-width:768px){
    .navLogin h2{
        font-size: 25px;
        margin-left: 30px;
    }
    .navLogin>.right{
        font-size: 15px;
    }
    .navLogin li{
        margin: 25px 10px;
        padding: 0 1px;
    }
}