.circle1{
    position: absolute;
    background-color: var(--green-color);
    width: 100%;
    height: 100%; 
    clip-path: ellipse(100px 100px at 2.5% 2%)
    /* clip-path: ellipse(120px 110px at 7% 7%) */
}
.circle2{
    position: absolute;
    background-color: var(--green-color);
    width: 100%;
    height: 100%; 
    clip-path: circle(5% at 100% 55%); 
    /* (size, ke kanan, kebawah) */
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 832px;
    top: 65px;
}
.navbar>.left{
    font-weight: bold;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: var(--white-color2);
}
.navbar>.right{
    font-weight: 700px;
    font-size: 24px;
    text-align: center;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: var(--white-color2);
    
}
li .beranda{
    color: var(--green-color);
    border-bottom: 2px solid var(--green-color);
}
li .tentang{
    opacity: 0.7;
    color: var(--green-color);
}
li .masuk{
    padding: 10px;
    border-radius: 10px;
    color: var(--white-color);
    background: var(--green-color);
}
.navbar a{
    text-decoration: none;
    font-weight: 700;
}
.navbar a:hover{
    color: var(--white-color);
    /* padding: 5px 20px; */
    background-color: var(--green-color);
    border-radius: 11px;
    height: 100px;
    width: 190px;
    overflow: hidden;
}
.navbar ul{
    color: var(--green-color); 
    list-style: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
}
.navbar li{
    margin: 20px;
}

.left h2{
    color: var(--white-color);
    z-index: 2;
    left: 0;
    font-size: 20px;
    position: absolute;
    margin-left: 10px;
}

/* content1 */
.section1{
    left: 0px;
    top: -209px;
    margin: auto;
    width: 100%;
    line-height: 1.5;
    font-size: 15px;
    text-align: center;
    height: 65vh;
}
.section1 span{
    font-size: 35px;
}
.section1 p{
    opacity: 0.8;
    font-size: 25px;
}
.flex{
    display: flex;
    flex-direction:row;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
.g-flex{
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    width: 100%;
    border: 2px solid var(--green-color) ;
    border-radius: 11px;
    box-sizing: border-box;
   
}

.g-flex button{
    margin-left: 5px;
    flex: 1;
    width: 30%;
    padding: 7px 0;
    border: 2px solid var(--green-color);
    background: var(--green-color);
    color: var(#fff);
    cursor: pointer;
    font-size: 13px;
    color: var(--white-color);
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 20px;
}
.g-flex input{
    width: 70%;
    border: none;
    outline: none;
    border-radius: 11px;
}

/* input kedua */
.flex-input{
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px
}
.flex-input>.link1{
    padding: 12px;
    border: 2px solid var(--green-color);
    margin-left: px;
    border-radius: 11px;
    width: 100%;
}
.flex-input>input{
    padding: 12px;
    border: 2px solid var(--green-color);
    margin-left: 5px;
    border-radius: 11px;
    width: 50%;
}
.flex-input>.ubahLink{
    padding: 12px;
    border: 2px solid var(--green-color);
    margin-left: -6px;
    border-radius: 11px;
}
.changeLink{
    width: 100%;
}
form .ubah{
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-left: 6%;
}
form .ubah-1{
    display: flex;
    justify-content: start;
    width: 90%;
    padding: 10px 0;
    text-align: center;
    margin-left: 9%;
}
form .alert{
    display: flex;
    justify-content: start;
    margin-left: 10%;
}
form .alert-danger{
    display: flex;
    justify-content: start;
    margin-left: 10%;
    color: red;
    font-size: 12px;
    
}
.ubah>.ubah, .ubah-1>.ubah{
    justify-self: start;
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.ubah button, .ubah-1>button{
    justify-self: start;
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 5px;
    padding: 13px;
    border: none;
    margin-left: 10px;
    width: 48%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.section2{
    background-color:  #E6FFDF;
    padding: 20px 30px;
    height: fit-content;
}
.section2 h1{
    font-family: Montserrat;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.2px;
}
.section2 h2{
    font-weight: 900;
    text-align: center;
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 56px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01px;
}
.section2 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01px;
    text-align: center;
    
}
.section2>.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 50px;
    color: var(--green-color);
    text-align: center;
}
.grid-3>.g-1{
    width: 250px;
    height: 319.53px;
    left: 580px;
    top: 1051px;
}


/* login */
.grid-2{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    height: fit-content;
    color: black;
    font-size: 20px;
    padding: 30px;
}
.grid-2>.image{
    width: 100%;
    height: fit-content;
}
.grid-2>.masuk{
    margin-top: 10%;
    margin: auto;
    width: 70%;
    border: 2px solid black;
    border-radius: 11px;
    height: fit-content;
    padding: 20px;
}
.masuk>.title{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3px;
}
.masuk>.form-group{
    width: 100%;
    height: fit-content;
}
.form-group label{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
}
.form-group input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    left: 825px;
    top: 461px;
    background: #FFFFFF;
    border: 2.5px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.ingat{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    color: #2F2E41;
}
.form-group button{
    margin-top:20px ;
    padding: 10px;
    color: var(--white-color);
    text-align: center;
    border-radius: 5px;
    background-color: var(--green-color);
    width: 100%;
    border: none;
}

/* footer */
footer{
    padding: 50px;
    background-color: var(--green-color);
    text-align: center;
    color: var(--white-color);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3px;
}

/* notfound */
.notFound>.image{
    margin-top: 60px;
    width: 35%;
    margin: 50px auto 0 auto;
    
}
.notFound>.image1{
    margin-top:0;
    width: 50%;
    margin: 0 auto 0 auto;
}
.notFound h2{
    color: #000000;
    font-size: 25px;
}
.notFound>.ket{
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #000000;
    padding: 0 10%;
    margin-bottom: 30px;

}

@media(max-width:786px){

    .section1{
        width: 80%;
    }
    .circle1{
        position: absolute;
        background-color: var(--green-color);
        width: 100%;
        height: 100%; 
        clip-path: ellipse(80px 80px at 2.5% 2%)
    }
    .circle2{
        clip-path: circle(8% at 100% 60%); 
        /* (size, ke kanan, kebawah) */
    }
    .left h2{
        color: var(--white-color);
        z-index: 2;
        left: 0;
        font-size: 15px;
        position: absolute;
        margin-left: 7px;
    }
    
    .navbar>.right{
        font-size: 15px;
        text-align: center;
        line-height: 18px;
        letter-spacing: 0.3px;
        color: var(--white-color2);
    }
    .navbar ul{
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.1px;
    }
    .navbar li{
        margin: 10px;
    }
    .section1{
        margin-bottom: 70px;
        margin-top: 50px;
    }
    .section1 span{
        font-size: 30px;
    }
    .section1 p{
        opacity: 0.8;
        font-size: 20px;
    }

    .flex{
        display: flex;
        flex-direction:row;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .section2{
        padding: 60px 30px;
        font-family: Montserrat;
        padding-bottom: 200px;
        background-color:  #E6FFDF;
    }
    .section2 h1{
        font-size: 35px;
        letter-spacing: 0.2px;
    }
    .section2 h2{
        font-weight: 900;
        text-align: center;
        font-size: 25px;
        line-height: 27px;
        letter-spacing: 0.01px;
    }
    .section2 p{
        font-size: 20px;
        letter-spacing: 0.01px;
    }
    .section2>.grid-3{
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        text-align: center;
        margin: auto;
        grid-row-gap: 5px;
    }
    .grid-3>.g-1{
        margin: auto;
        width: 50%;
        height: 50%;
        left: 580px;
        top: 1051px;
    }
    /* login */
    .grid-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid-2>.masuk{
        width: 100%;
    }
    .masuk>.title{
        font-size: 20px;
        line-height: 10px;
    }
    .form-group input, .form-group button{
        padding: 6px;
    }

    /* notfound */
    .notFound>.image{
        width: 50%;
        margin: 30px auto 0 auto;
    }
    .notFound h2{
        color: #000000;
        font-size: 20px;
    }
    .notFound>.ket{
        margin-top: 20%;
        font-style: normal;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #000000;
        padding: 0 5%;
        margin-bottom: 20px;
    }
}

