.circle1{
    position: absolute;
    background-color: var(--green-color);
    width: 100%;
    height: 100%; 
    clip-path: ellipse(100px 100px at 2.5% 2%)
    /* clip-path: ellipse(120px 110px at 7% 7%) */
}
.container{
    padding: 50px 100px;
    border-radius: 10px;
  }
  #about{
    border-radius: 50px;
    text-align: center;
    background-color: #037245;
    padding: 20px 30px;
    box-shadow:  2px 3px 8px 1px #7a7878;
  }
  #about .abt-1 p{
    font-size: 160%;
    color: black;
    text-align: justify;
    line-height: 35px;
  }
  #about h1 span{
    color: white;
  }
.circle2{
    position: absolute;
    background-color: var(--green-color);
    width: 100%;
    height: 100%; 
    clip-path: circle(5% at 100% 55%); 
    /* (size, ke kanan, kebawah) */
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 832px;
    top: 65px;
}
.navbar>.left{  
    font-weight: bold;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: var(--white-color2);
}
.navbar>.right{
    font-weight: 700px;
    text-align: center;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: var(--white-color2);
}
li .beranda{
    color: var(--green-color2);
    font-size: 18px;

}
li .tentang{
    opacity: 0.7;
    color: var(--green-color2);
    font-size: 18px;
}
li .masuk{
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    color: var(--green-color2);
    border: 2px solid var(--green-color);
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.masuk:hover {
    border-radius: 10px;
    color: var(--green-color);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

}
.navbar a{
    text-decoration: none;
    font-weight: 700;
}
.navbar a:hover{
    color: var(--green-color)
}
.navbar ul{
    list-style: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
}
.navbar li{
    margin: 20px;
}

.navbar .left h2{
    color: var(--white-color);
    z-index: 2;
    left: 0;
    font-size: 20px;
    position: absolute;
    margin-left: 10px;
}
/* content1 */
.section1{
    left: 0px;
    top: -209p;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    line-height: 1.5;
    font-size: 15px;
    text-align: center;
    height: 70vh;
}
.section1 span{
    font-size: 35px;
    font-family: Montserrat;
}
.section1 p{
    opacity: 0.8;
    font-size: 25px;
    font-family: Montserrat;
    margin-bottom: 80px;
}
.flex{
    display: flex;
    flex-direction:row;
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    margin-bottom: 20px;
}

.mulai{
    justify-self: start;
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 5px;
    padding: 10px 40px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}

.mulai:hover {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);

}

.tentang1 {
    width:100%;
    margin-bottom: 5%;
    margin-top: 1%;
    height: 500px;
    background-color:white;
}

.section2{
    background-color:  #E6FFDF;
    padding: 20px;
    height: fit-content;
}
.section2 h1{
    font-family: Montserrat;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.2px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.section2 h2{
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 56px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01px;
}
.section2 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01px;
    text-align: center;

}
.section2>.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
    color: var(--green-color);
    text-align: center;
    margin-top: 20px;

}
.grid-3>.g-1{
    width: 200px;
    height: 300px;
    margin: auto;
}

.g-1 h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.g-1 p {
    margin-top: 5px;
}


/* login header*/
.navLogin{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
    background-color:transparent;
    z-index: 1000;
}
.navLogin>.left h2{
    margin-left: 40%;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: var(--green-color);
}
.navLogin>.right{
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    line-height: 18px;
    margin-right: 5%;;
}
.navLogin ul{
    list-style-type: none;
    display: flex;
}
.navLogin li{
    margin: 20px;
}
.navLogin a{
    text-decoration: none;
    font-weight: 700;
    color: var(--green-color2);
}
.navLogin a:hover {
    color: var(--green-color)
}

/* login isi */
.grid-2{
    margin-top: auto;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    height: fit-content;
    color: black;
    font-size: 20px;
    padding: 10px;
}
.grid-2>.image{
    margin-top: 6%;
}
.grid-2>.masuk{
    margin-top:6%;
    margin-left: 6%;
    width: 70%;
    border: none;
    box-shadow:  2px 3px 8px 1px #7a7878;
    border-radius: 11px;
    height: fit-content;
    padding: 20px;
}
.title>.unjaya{
    color: var(--green-color);
    margin-left: 10%;
}
.masuk>.judul{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3px;
}

.masuk>.form-group{
    width: 200%;
    height: fit-content;
}
.form-group label{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
}
.form-group input{
    width: 200%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    left: 825px;
    top: 461px;
    border: 2.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: transparent;
}
.form-control-a:focus{
    outline: 2.5px solid rgb(0, 164, 214);
    border: none;
}
.ingat{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    color: #2F2E41;
}


.form-group button{
    margin-top:20px ;
    padding: 10px;
    color: var(--white-color);
    text-align: center;
    border-radius: 5px;
    background-color: var(--green-color);
    width: 200%;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.form-group>.buat-akun{
    text-align: center;
    font-size: 13px;
    width: 200%;
}
.buat-akun>.klik-akun{
    color: var(--green-color);
    cursor: pointer;
}
/* Buat Akun */
.buatAkun{
    display: none;
    margin: auto;
    background-color: #fefefe;
    width: 35%;
    border: none;
    box-shadow:  2px 3px 8px 1px #7a7878;
    border-radius: 11px;
    height: fit-content;
    padding: 0 20px;
    position: fixed; 
    z-index: 1; 
    margin-top: 50px; 
    margin-left: 30%;
    top: 0;
    overflow: auto; 
}
.buatAkun>.header{
    width: 100%;
}
.buatAkun>.cl{
    cursor: pointer;
    margin-top: 17px;
    text-align: right;
}
.buatAkun h2{
    text-align: center;
    color: black;
    font-size: 20px;
}
.red {
    color: var(--green-color)
}
p.title{
    color: black;
}
.title>.unjaya{
    color: var(--green-color);
}
.buat-akun p{
    color: black;
    font-size: 13px;
}


/* footer */
footer{
    padding: 15px;
    background-color: var(--green-color);
    text-align: center;
    color: var(--white-color);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3px;
}

/* notfound */
.notFound>.image{
    margin-top: 60px;
    width: 35%;
    margin: 50px auto 0 auto;

}
.notFound>.image1{
    margin-top:0;
    width: 50%;
    margin: 0 auto 0 auto;
}
.notFound h2{
    color: #000000;
    font-size: 25px;
}
.notFound>.ket{
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #000000;
    padding: 0 10%;
    margin-bottom: 30px;
}

/* alert sukses */
.sukses-alert{
    display: none;
    margin: auto;
    background-color: #fefefe;
    width: 23%;
    border: none;
    box-shadow:  2px 3px 8px 1px #7a7878;
    border-radius: 11px;
    height: fit-content;
    padding: 0 20px;
    position: fixed; 
    z-index: 1; 
    margin-top: 150px; 
    margin-left: 40%;
    top: 0;
    overflow: auto; 
    text-align: center;
}
.sukses-alert h2{
    font-size: 30px;
    color: black;
}
.sukses-alert p{
    font-size: 20px;
    color: black;
}
p> .unjaya{
    color: var(--green-color);
}

@media(max-width:786px){
    .section1{
        width: 100%;
    }
    .circle1{
        position: absolute;
        background-color: var(--green-color);
        width: 100%;
        height: 100%; 
        clip-path: ellipse(80px 80px at 2.5% 2%)
    }
    .circle2{
        clip-path: circle(8% at 100% 60%); 
        /* (size, ke kanan, kebawah) */
    }
    .left h2{
        color: var(--white-color);
        z-index: 2;
        left: 0;
        font-size: 10px;
        position: absolute;
        margin-left: 7px;
    }
    .navbar>.right{
        font-size: 15px;
        text-align: center;
        line-height: 18px;
        letter-spacing: 0.3px;
        color: var(--white-color2);
    }
    .navbar ul{
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.1px;
    }
    .navbar li{
        margin: 10px;
    }
    .section1{
        margin-bottom: 70px;
        margin-top: 50px;
    }
    .section1 span{
        font-size: 30px;
    }
    .section1 p{
        opacity: 0.8;
        font-size: 20px;
    }

    .flex{
        display: flex;
        flex-direction:row;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .section2{
        padding: 60px 30px;
        font-family: Montserrat;
        padding-bottom: 200px;
        background-color:  #E6FFDF;
    }
    .section2 h1{
        font-size: 35px;
        letter-spacing: 0.2px;
    }
    .section2 h2{
        font-weight: 900;
        text-align: center;
        font-size: 25px;
        line-height: 27px;
        letter-spacing: 0.01px;
    }
    .section2 p{
        font-size: 20px;
        letter-spacing: 0.01px;
    }
    .section2>.grid-3{
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        text-align: center;
        margin: auto;
        grid-row-gap: 5px;
    }
    .grid-3>.g-1{
        margin: auto;
        width: 50%;
        height: 50%;
        left: 580px;
        top: 1051px;
    }
     /* login header*/
    .navLogin{
         background-color: transparent;
     }
    .navLogin h2{
        font-size: 25px;
        margin-left: 70px;
        color: var(--green-color);
    }
    .navLogin>.right{
        font-size: 15px;
    }
    .navLogin li{
        margin: 25px 10px;
        padding: 0 1px;
    }
    /* login */
    .grid-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid-2>.masuk{
        width: 100%;
    }
    .masuk>.title{
        font-size: 20px;
        line-height: 10px;
    }
    .form-group input, .form-group button{
        padding: 6px;
    }
    .form-group input{
        padding: 10px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .navLogin h2{
        margin-left: 5%;
        font-weight: bold;
        font-size: 25px;
    }
    .buat-akun p{
        font-size: 11px;
    }

    /* notfound */
    .notFound>.image{
        width: 50%;
        margin: 30px auto 0 auto;
    }
    .notFound h2{
        color: #000000;
        font-size: 20px;
    }
    .notFound>.ket{
        margin-top: 20%;
        font-style: normal;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #000000;
        padding: 0 5%;
        margin-bottom: 20px;
    }
    /* buat akun */
    .buatAkun{
        width: 50%;
        position: fixed;
    }
    .sukses-alert{
        width: 40%;
    }
}

@media(max-width:500px){
    .grid-2{
        display: block;
        /* grid-template-columns: 1fr; */
    }
    .image{
        display: none;
    }
    .grid-2>.masuk{
        width: 80%;
    }
    .title{
        font-size: 18px;
        line-height: 5px;
    }
    .form-group input, .form-group button{
        padding: 6px;
    }
    .form-group input{
        padding: 10px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    /* buauat akun */
    .buatAkun h2{
        font-size: 17px;
    }
}

@media(max-width:768px){
    .grid-2{
        display: block;
        /* grid-template-columns: 1fr; */
    }
    .image{
        display: none;
    }
    .grid-2>.masuk{
        width: 70%;
        margin: 15% auto;
    }
    .masuk{
        margin: 0px auto;
    }
    .title{
        font-size: 20px;
        line-height: 5px;
    }
    .form-group input, .form-group button{
        padding: 6px;
    }
    .form-group input{
        padding: 10px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    /* buauat akun */
    .buatAkun h2{
        font-size: 20px;
    }

    .btn-name{
        font-size: 20px;
        line-height: 5px;
    }
    .navLogin>.left h2{
        font-size: 25px;
        line-height: 40px;
        margin-left: 5%;
    }
    .navLogin>.right{
        font-size: 17px;
        line-height: 12px;
    }
}
@media (max-width:768px){
    .container{
        padding: 15% 100px;
      }
      #about{
        padding: 10px 30px 50px 30px;
        height: 60%;
      }
      #about .abt-1 p{
        font-size: 120%;
        line-height: 25px;
      }
      #about h1 span{
        font-size: 35px;
      }
}

/* bagian login */
@media(max-width:500px){
    .grid-2{
        display: block;
        /* grid-template-columns: 1fr; */
    }
    .image{
        display: none;
    }
    .grid-2>.masuk{
        width: 72%;
        margin-right: auto;
        margin-left: auto;
    }
    .title{
        font-size: 19px;
        line-height: 5px;
        font-weight: bolder;
    }
    .form-group input, .form-group button{
        padding: 6px;
    }
    .form-group input{
        padding: 10px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .form-group input{
        font-size: 12px;
    }
    /* buauat akun */
    .buatAkun h2{
        font-size: 17px;
    }
    .form-group .buat-akun{
        font-size:12px;
    }
    .ingat label{
        font-size: 11px;
        font-weight: medium;
    }
        .buatAkun{
        width: 80%;
        margin-left: 10%;
        margin-right: 10% ;
    }
    .sukses-alert{
        width:70%;
        margin-left: 15%;
        margin-right:15%;
    }
    .sukses-alert h2{
        font-size: 20px;
    }
    .sukses-alert P{
        font-size: 15px;
    }
    footer{
        font-size: 12px;
        padding: 10px;
    }
}
/* bagian tentang */
@media(max-width:500px){
    .container{
        padding: 10% 50px;
    }
    #about .abt-1 p{
        font-size: 12px;
        line-height: 20px;
      }
      #about h1 span{
        font-size: 25px;
      }
      #about{
        padding: 5px 30px 20px 30px;
        height: 60%;
      }
    .right a{
        font-size:12px;
    }
    .navbar>.left h2{
        font-size: 13px;
    }
}
